# Arquivos e pastas de build
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Ll]og/

# Arquivos de build e resultados de testes
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Visual Studio
.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NuGet
*.nupkg
# NuGet Symbol Packages
*.snupkg
# O diretório packages pode ser ignorado por causa do Package Restore
**/packages/*
# exceto build/, que é usado como um MSBuild target
!**/packages/build/
# Se usar o auto-restore do NuGet, descomente isto
#!**/packages/repositories.config

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Arquivos temporários
.tmp/
.temp/

# Arquivos de publicação Web
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

# Arquivos de projeto e build ASP.NET
*.[Cc]ache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/

# Backup e arquivos temporários do Visual Studio
*.[Bb]ak
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride